PROJECT_NAME="LearnAssist"
API_PREFIX="/api"
SECRET_KEY=""
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
MONGO_URI=""
DATABASE_NAME=""
OPENAI_API_KEY=""
AI_MODEL=""

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=
MAIL_PORT=
MAIL_SERVER=
MAIL_TLS=
MAIL_SSL=